form {

    fieldset {
        border: 0;
        padding: 0;
        margin: 0;

        > div {
            margin-top: 10px;
        }

        label {
            display: block;
        }
        input:not(.btn) {
            border: 1px solid $c-border;
            height: 30px;
            width: 100%;
            display: block;
            &:focus {
                outline: 1px solid darken($c-border, 7%);
            }
        }
    }
}