
<div class="login-form">
  <h2>Форма логина:</h2>
  <form name="login_form" id="login-form" ng-submit="login.sendAuth()">
    <fieldset>
      <div>
        <label for="usr">Логин:</label>
        <input type="text" name="usr" id="usr" ng-model="login.formData.usr"/>
      </div>
      <div>
        <label for="passw">Пароль:</label>
        <input type="password" name="passw" id="passw" ng-model="login.formData.passw"/>
      </div>
      <div>
        <input class="btn" type="submit" value="Войти"/>
      </div>
    </fieldset>
  </form>
</div>