
<div class="login-form">
  <h2>Форма логина:</h2>
  <form name="login_form" id="login-form" ng-submit="login.sendAuth()">
    <fieldset>
      <div>
        <label for="username">Логин:</label>
        <input type="text" name="username" id="username" ng-model="login.username"/>
      </div>
      <div>
        <label for="passw">Пароль:</label>
        <input type="password" name="passw" id="passw" ng-model="login.passw"/>
      </div>
      <div>
        <input class="btn" type="submit" value="Войти"/>
      </div>
    </fieldset>
  </form>
</div>