.login-form
    h2 Форма логина:
    form(name="login" id="login-form")
        fieldset
            div
                label(for="username") Логин:
                input(type="text" name="username" id="username")
            div
                label(for="passw") Пароль:
                input(type="password" name="passw" id="passw")